In [1]:
import itertools
import numpy as np
import pandas as pd
from scipy import sparse

In [3]:
n_item = 20
n_user = 10
user_item_matrix = np.random.randint(2, size=n_user*n_item).reshape((n_user, -1))
user_item_matrix = sparse.lil_matrix(user_item_matrix)

In [4]:
pd.DataFrame(user_item_matrix.todense(), index=[f'user_{i}' for i in range(n_user)], columns=[f'item_{i}' for i in range(n_item)])

,item_0,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11,item_12,item_13,item_14,item_15,item_16,item_17,item_18,item_19
user_0,1,0,0,1,1,0,1,0,0,1,0,1,1,0,1,1,1,1,0,1
user_1,1,1,0,0,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,1
user_2,0,1,0,1,1,0,1,1,0,1,0,0,0,1,1,1,0,0,0,0
user_3,0,1,1,0,1,1,1,1,0,1,0,0,1,0,1,0,1,0,1,1
user_4,0,0,0,1,0,1,1,0,0,0,0,1,0,0,1,1,0,0,0,1
user_5,1,1,1,1,0,1,0,1,0,1,1,0,1,1,1,0,1,0,1,1
user_6,0,1,1,0,0,0,0,1,1,1,0,0,0,0,0,1,1,1,1,1
user_7,1,1,1,1,0,1,1,0,0,0,1,0,1,0,1,0,0,0,0,0
user_8,0,0,1,0,1,0,0,1,0,1,0,1,1,1,0,1,1,1,0,1
user_9,1,0,0,0,0,0,0,1,1,1,1,0,0,0,1,0,0,1,0,0

In [5]:
user_item_dict = {}
for i, row in enumerate(user_item_matrix.rows):
    user_item_dict[i] = set(row)

In [6]:
def dice(set_1, set_2):
    total = len(set_1)+len(set_2)
    if total == 0:
        return 0
    return 2* len(set_1.intersection(set_2)) / total

In [8]:
dice_similarities = sparse.lil_matrix((n_user, n_user))
for i, j in itertools.combinations(np.arange(n_user), 2):
    dice_similarities[i, j] = dice(user_item_dict[i], user_item_dict[j])
    dice_similarities[j, i] = dice_similarities[i, j]
for i in range(n_user):
    dice_similarities[i, i] = 1
dice_similarites = dice_similarities.tocsc()

In [9]:
pd.DataFrame(dice_similarities.todense(), index=[f'user_{i}' for i in range(n_user)], columns=[f'user_{i}' for i in range(n_user)])

,user_0,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9
user_0,1.000000,0.600000,0.571429,0.583333,0.631579,0.538462,0.454545,0.476190,0.695652,0.421053
user_1,0.600000,1.000000,0.470588,0.700000,0.266667,0.545455,0.444444,0.470588,0.526316,0.266667
user_2,0.571429,0.470588,1.000000,0.571429,0.500000,0.521739,0.421053,0.444444,0.500000,0.375000
user_3,0.583333,0.700000,0.571429,1.000000,0.421053,0.769231,0.636364,0.571429,0.608696,0.315789
user_4,0.631579,0.266667,0.500000,0.421053,1.000000,0.380952,0.235294,0.500000,0.333333,0.142857
user_5,0.538462,0.545455,0.521739,0.769231,0.380952,1.000000,0.583333,0.695652,0.560000,0.476190
user_6,0.454545,0.444444,0.421053,0.636364,0.235294,0.583333,1.000000,0.210526,0.666667,0.470588
user_7,0.476190,0.470588,0.444444,0.571429,0.500000,0.695652,0.210526,1.000000,0.200000,0.375000
user_8,0.695652,0.526316,0.500000,0.608696,0.333333,0.560000,0.666667,0.200000,1.000000,0.333333
user_9,0.421053,0.266667,0.375000,0.315789,0.142857,0.476190,0.470588,0.375000,0.333333,1.000000